/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-feb-2014, 11.23.27
    Author     : marco
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: whitesmoke;
    margin: 60px 0px 0px 10px;
    font-family: 'Open Sans', sans-serif;
}

div.navbar {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 50px;
    color:white;
    background:#333;
    margin-top: -5px;
}

div.navbar * {
    display: inline-block;
}

div.navbar img {
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

div.navbar ul {
    width: 80%;
    margin-left: -10px;
}

div.navbar li {
    padding-right: 50px;
    text-align: center;
}

div.navbar .login {
    width: 10%;
    text-align: right;
}

.button {
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    background: lightskyblue;
    text-align: center;
    text-decoration: none;
    color: white;
}

.item {
    text-decoration: none;
    color: white;
}
