/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-feb-2014, 11.23.27
    Author     : marco
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: whitesmoke;
    margin: 60px 0px 0px 10px;
    font-family: 'Open Sans', sans-serif;
}

div.navbar {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 50px;
    color:white;
    background:#333;
    margin-top: -5px;
}

div.navbar * {
    display: inline-block;
}

div.navbar img {
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

div.navbar ul {
    width: 60%;
    margin-left: -10px;
}

div.navbar li {
    padding-right: 50px;
    text-align: center;
}

div.navbar .login {
    width: 30%;
    text-align: right;
}

.button {
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    background: lightskyblue;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.item {
    text-decoration: none;
    color: white;
}

.login_form {
    margin: 0 auto;
    text-align: center;
    border: 2px solid silver;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    font-weight: lighter;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
    padding-top: 15px;
}

.register_form {
    margin: 0 auto;
    text-align: center;
    border: 2px solid silver;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    font-weight: lighter;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -250px;
    padding-top: 15px;
}

input {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid silver;
    height: 40px;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: center;
    vertical-align: center;
}

input[type='radio']{   
    height: 12px;
 }

input.larger {
    width: 90%;
}

div.input_group {
    text-align: left;
}

div.input_group label {
    display: block;
    font-size: small;
}

a {
    text-decoration: none;
    color: lightskyblue;
}

.text_small {
    font-size: smaller;
}

.text_big {
    font-size: larger;
}

.text_very_big {
    font-size: xx-large;
}

.nuovo_annuncio {
    border: 2px solid silver;
    border-radius: 10px;
    width: 800px;
    font-weight: lighter;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    padding: 10px;
    text-align: center;
}