<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>asw1016.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>asw1016.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>asw1016.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>asw1016.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggiuntaFotoServlet</servlet-name>
        <servlet-class>asw1016.AggiuntaFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElencoAnnunciServlet</servlet-name>
        <servlet-class>asw1016.ElencoAnnunciServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaAnnuncioServlet</servlet-name>
        <servlet-class>asw1016.EliminaAnnuncioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaAnnuncioServlet</servlet-name>
        <servlet-class>asw1016.ModificaAnnuncioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuovoAnnuncioServlet</servlet-name>
        <servlet-class>asw1016.NuovoAnnuncioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnuncioServlet</servlet-name>
        <servlet-class>asw1016.AnnuncioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestioneUtentiServlet</servlet-name>
        <servlet-class>asw1016.GestioneUtentiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggiuntaFotoServlet</servlet-name>
        <url-pattern>/AggiuntaFotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElencoAnnunciServlet</servlet-name>
        <url-pattern>/ElencoAnnunciServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaAnnuncioServlet</servlet-name>
        <url-pattern>/EliminaAnnuncioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaAnnuncioServlet</servlet-name>
        <url-pattern>/ModificaAnnuncioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuovoAnnuncioServlet</servlet-name>
        <url-pattern>/NuovoAnnuncioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnuncioServlet</servlet-name>
        <url-pattern>/AnnuncioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneUtentiServlet</servlet-name>
        <url-pattern>/GestioneUtentiServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
